<h1>List of Students</h1>

<ul>
  <% @students.each do |s| %>
    <li>
      <img width="200" src="<%= s["profile_pic_url"] %>">
      <h3><%= s["first_name"] %> <%= s["last_name"] %></h3>
    </li>
  <% end %>
</ul>
