<h1>Student Details</h1>

<h2>
  <%= @student["first_name"] %> <%= @student["last_name"] %>
</h2>

<img width="400" src="<%= @student["profile_pic_url"] %>">

<p>Twitter: <%= @student["twitter"] %></p>
